/* .ui-corner-all{
  border-radius: 0px!important;
} */

.title {
  width: 10%;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
/* .ui-sidebar-top{} */

.btn-header {
  background: transparent !important;
  border: 0;
}

.btn-header:hover {
  background-color: #000000 !important;
}