// @import '../../node_modules/primeng';
/* 
..................................
. Constant .    Value. Common Usage .
..................................                             
*/
$primary:   #000000;      // Toolbar header
$secondary: #254B5A;      // Active button
$tertiary:  #5DA6A7;      // Icons
$background:#DEDEDE;      // Page/Screen background 
$border:    #FEFEFE;
// $selector: not confirm yet
$quantity:  #C70000;      // Item quantity figure,
$currency:  #002AB5;      // Active/valid price,
$disabled:  #545555;      // Disabled button,
$alert:     #C40034;      // "New", Notification badge,
$warning:   #FA7000;      // Par level hit,
//$notice	cont confirm yet// "Notify Me",
//$info   cont confirm yet  // not confirm yet
$light:     #F4F4F4;      // Light color text contrast to Dark color background,
$dark:      #2C3022;      // Dark color text contrast to Light color background,


$border-radius: 5px;
$border-size: 2px;

html, body{
    background-color: $background;
}
/* color */
.ws-primary{
    color: $primary;
}
.ws-secondary{
    color: $secondary;
}
.ws-tertiary{
    color: $tertiary;
}
.ws-quantity{
    color: $quantity;
}
.ws-currency{
    color: $currency;
}
.ws-alert{
    color: $alert;
}
.ws-warning{
    color: $warning;
}
// .ws-notice{
//     color: $notice;
// }
// .ws-info{
//     color: $info;
// }

.ws-dark{
    color: $dark;
}
.ws-light{
    color: $light;
}


/* background-color */
.ws-bg-color{
    background-color: $background;
}
.ws-bg-primary{
    background-color: $primary;
    border-radius: 0px;
    color: $light;
}
.ws-bg-secondary{
    background-color: $secondary;
    color: $light;
}
.ws-bg-tertiary{
    background-color: $tertiary;
}

.ws-bg-quantity{
    background-color: $quantity;
}
.ws-bg-currency{
    background-color: $currency;
}
.ws-bg-disabled{
    background-color: $disabled
}
.ws-bg-alert{
    background-color: $alert
}
.ws-bg-warning{
    background-color: $warning
}
// .ws-bg-info{
//     background-color: $info
// }
// .ws-bg-notice{
//     background-color: $notice
// }
.ws-bg-light{
    background-color: $light
}
.ws-bg-dark{
    background-color: $dark
}

/* border-color */
.border-color{
    border:$border;
}

// the default outline color is secondary color for outline 
.ws-outline{
    background-color: transparent;
    border: 2px solid $secondary; //$border;
    color: $dark;
}
.ws-outline-primary{
    background-color: transparent;
    border: 2px solid $primary;
    color: $dark;
}
.ws-outline-tertiary{
    background-color: transparent;
    border: 2px solid $tertiary;
    color: $dark;
}

.active{
    background-color: $secondary;
    color: $light;
    cursor: pointer;
  } 

/* customized compoments of primeng */

.ws-bg-primary .ui-toolbar{
    background-color: $primary;
    border-radius: 0px;
}

.ws-bg-primary.ui-button{
    background-color: $primary;
    color: $light;
}

.ws-bg-secondary.ui-button{
    background-color: $secondary;
    color: $light;
}

// $ws-color-primary: (
//   50: #404040,
//   100: #333333,
//   200: #262626,
//   300: #1a1a1a,
//   400: #0d0d0d,
//   500: #000000,
//   600: #000000,
//   700: #000000,
//   800: #000000,
//   900: #000000,
//   A100: #4d4d4d,
//   A200: #595959,
//   A400: #666666,
//   A700: #000000,
//   contrast: (
//     50: $black-87-opacity,
//     100: $black-87-opacity,
//     200: $black-87-opacity,
//     300: $black-87-opacity,
//     400: $black-87-opacity,
//     500: white,
//     600: white,
//     700: white,
//     800: $white-87-opacity,
//     900: $white-87-opacity,
//     A100: $black-87-opacity,
//     A200: white,
//     A400: white,
//     A700: white,
//   )
// );

// $ws-color-secondary: (

//   50: #0f1e24,
//   100: #172d36,
//   200: #1e3c48,
//   300: #264b5a,
//   400: #2d5a6c,
//   500: #35697e,
//   600: #4487a2,
//   700: #4b96b4,
//   800: #5da0bb,
//   900: #6fabc3,
//   A100: #4487a2,
//   A200: #3C7890,
//   A400: #35697e,
//   A700: #81b5ca,
//   contrast: (
//     50: $black-87-opacity,
//     100: $black-87-opacity,
//     200: $black-87-opacity,
//     300: $black-87-opacity,
//     400: $black-87-opacity,
//     500: white,
//     600: white,
//     700: white,
//     800: $white-87-opacity,
//     900: $white-87-opacity,
//     A100: $black-87-opacity,
//     A200: white,
//     A400: white,
//     A700: white,
//   )
// );

// $ws-color-contrast: (
//   50: #ff4747,
//   100: #ff2e2e,
//   200: #ff1414,
//   300: #fa0000,
//   400: #e00000,
//   500: #C70000,
//   600: #ad0000,
//   700: #940000,
//   800: #7a0000,
//   900: #610000,
//   A100: #ff6161,
//   A200: #ff7a7a,
//   A400: #ff9494,
//   A700: #470000,
//   contrast: (
//     50: $black-87-opacity,
//     100: $black-87-opacity,
//     200: $black-87-opacity,
//     300: $black-87-opacity,
//     400: $black-87-opacity,
//     500: white,
//     600: white,
//     700: white,
//     800: $white-87-opacity,
//     900: $white-87-opacity,
//     A100: $black-87-opacity,
//     A200: white,
//     A400: white,
//     A700: white,
//   )
// );

// $ws-color-light: (
//   50: #ffffff,
//   100: #ffffff,
//   200: #ffffff,
//   300: #f7f7f7,
//   400: #ebebeb,
//   500: #DEDEDE,
//   600: #d1d1d1,
//   700: #c4c4c4,
//   800: #b8b8b8,
//   900: #ababab,
//   A100: #ffffff,
//   A200: #ffffff,
//   A400: #ffffff,
//   A700: #9e9e9e,
//   contrast: (
//     50: $black-87-opacity,
//     100: $black-87-opacity,
//     200: $black-87-opacity,
//     300: $black-87-opacity,
//     400: $black-87-opacity,
//     500: white,
//     600: white,
//     700: white,
//     800: $white-87-opacity,
//     900: $white-87-opacity,
//     A100: $black-87-opacity,
//     A200: white,
//     A400: white,
//     A700: white,
//   )
// );

// $ws-color-tertiary: (
//   50: #b0d3d4,
//   100: #9fcacb,
//   200: #8fc1c2,
//   300: #7eb8b9,
//   400: #6eafb0,
//   500: #5DA6A7,
//   600: #539798,
//   700: #4a8787,
//   800: #417677,
//   900: #386666,
//   A100: #c0dcdd,
//   A200: #d1e6e6,
//   A400: #e1efef,
//   A700: #2f5556,
//   contrast: (
//     50: $black-87-opacity,
//     100: $black-87-opacity,
//     200: $black-87-opacity,
//     300: $black-87-opacity,
//     400: $black-87-opacity,
//     500: white,
//     600: white,
//     700: white,
//     800: $white-87-opacity,
//     900: $white-87-opacity,
//     A100: $black-87-opacity,
//     A200: white,
//     A400: white,
//     A700: white,
//   )
// );

// $ws-color-dark: (
//   50: #697269,
//   100: #5d655d,
//   200: #515851,
//   300: #444b44,
//   400: #383d38,
//   500: #2C302C,
//   600: #202320,
//   700: #141514,
//   800: #070807,
//   900: #000000,
//   A100: #758075,
//   A200: #828c82,
//   A400: #8f998f,
//   A700: #000000,
//   contrast: (
//     50: $black-87-opacity,
//     100: $black-87-opacity,
//     200: $black-87-opacity,
//     300: $black-87-opacity,
//     400: $black-87-opacity,
//     500: white,
//     600: white,
//     700: white,
//     800: $white-87-opacity,
//     900: $white-87-opacity,
//     A100: $black-87-opacity,
//     A200: white,
//     A400: white,
//     A700: white,
//   )
// );

// $ws-color-light: (
//   50: #ffffff,
//   100: #ffffff,
//   200: #ffffff,
//   300: #f7f7f7,
//   400: #ebebeb,
//   500: #DEDEDE,
//   600: #d1d1d1,
//   700: #c4c4c4,
//   800: #b8b8b8,
//   900: #ababab,
//   A100: #ffffff,
//   A200: #ffffff,
//   A400: #ffffff,
//   A700: #9e9e9e,
//   contrast: (
//     50: $black-87-opacity,
//     100: $black-87-opacity,
//     200: $black-87-opacity,
//     300: $black-87-opacity,
//     400: $black-87-opacity,
//     500: white,
//     600: white,
//     700: white,
//     800: $white-87-opacity,
//     900: $white-87-opacity,
//     A100: $black-87-opacity,
//     A200: white,
//     A400: white,
//     A700: white,
//   )
// );