<app-customer-details></app-customer-details>

<div class="container-fluid mt-3">

	<div class="trade-offer-count my-2">{{'inventory.customer.trade-offer.total'| translate}} {{lstradeOff.length}}
		{{'inventory.customer.trade-offer.result-found'| translate}}.
		<button class="btn btn-sm px-2 ws-bg-primary"
			(click)="newOffer()">{{'inventory.customer.trade-offer.new-trade-offer' | translate}} </button>
		<span (click)="FilterList()" class="btn btn-sm float-right ws-bg-primary py-0 px-3">
			<span class="mdi mdi-dots-horizontal md-icons"></span>
		</span>
		<br><br>
	</div>

	<div *ngIf="lstradeOff.length == 0 || isNewOffer" class="offer-box-list p-3 my-1">
		<div (click)="newOffer()" class="text-right">
			<span class="mdi mdi-close"></span>
		</div>
		<div class="trade-offer-card d-flex">
			<div [ngClass]="{'invalid-promo':inValidProductId}" (click)="openDialog('','')">
				<i class="pi pi-search upload-img-lb"></i>
				<img class="trd-img" [src]="newPrdImage">
			</div>
			<div class="add-promo-box d-flex text-center">
				<p-card class="ml-2">
					<form [formGroup]='newPromoForm' #frm="ngForm">
						<div class="mx-2">
							<div class="change-promo d-flex">
								<input type="text" pInputText [pattern]="AppConstant.REGPATTERN.PRICE" class="check-price-btn"
									placeholder="Offered Price" #price>
								<button [disabled]="isValidPrice(price)" (click)="addNewPrice(price.value)"
									class="ui-inputgroup-addon">{{'inventory.customer.trade-offer.change'| translate}}</button>
							</div>
							<div class="promo mt-1 text-center p-5">
								{{'inventory.customer.trade-offer.promotion'| translate}}
							</div>
						</div>
					</form>
				</p-card>
			</div>
		</div>
	</div>

	<div *ngFor="let trd of lstradeOff; let idx =index" class="offer-box-list p-2 my-1">
		<div class="text-right">
			<span (click)="deleteTradeOffer(trd.id)" class="mdi mdi-close"></span>
		</div>
		<div>
			<div class="ui-g d-flex-in">
				<div class="product-img">
					<img class="trd-img" [src]="trd.picture">
				</div>
				<div class="ui-12 mt-2 mt-lg-0">
					<div class="ui-inputgroup ml-2">
						<input type="text" pInputText class="check-price-btn" placeholder="Offered Price" #price
							[value]="trd.offered_price">
						<button [disabled]="isValidPrice(price)" (click)="changePrice(price.value, trd, i)"
							class="ui-inputgroup-addon">{{'inventory.customer.trade-offer.change'| translate}}</button>
					</div>
					<div class="d-flex flex-wrap">
						<form [formGroup]='promoForm' #frm="ngForm">
							<div formArrayName="promotions" class="d-flex flex-wrap">
								<div *ngFor="let o of trd.promotions let i=index" [formGroupName]="i">

									<div class="d-flex promo-card mt-1">
										<p-card class="ml-2">
											<div class="mt-1">
												<div class="text-right">
													<span *ngIf="edit(i, idx)" (click)="UpdateNewPromo(frm.value, trd, i, idx)"
														class="mdi mdi-check" ngClass="mr-1 md-icon"></span>

													<span *ngIf="!edit(i, idx)" (click)="editPromo(i, idx)" class="mdi mdi-pencil"
														ngClass="mr-1 md-icon"></span>

													<span (click)="deletePromo(trd, o, i)" class="mdi mdi-close" ngClass="ml-1 md-icon"></span>
												</div>
												<div class="promo-dates d-flex">
													<input [readonly]="!edit(i, idx)" [min]="dateFromLess(i)| date:'yyyy-MM-dd'" formControlName="from_date"
														[value]="o.from_date" [ngClass]="isValidDate(promotions.controls[i].value.from_date)"
														class="mx-2 ws-input" type="date">

													<input [readonly]="!edit(i, idx)" formControlName="to_date" [min]="dateToLess(i) | date:'yyyy-MM-dd'"
														[value]="o.to_date" [ngClass]="isValidDate(promotions.controls[i].value.to_date)"
														class="mx-2 ws-input" type="date">
												</div>
												<!-- ff[i].to_date -->
												<div class="mt-1 d-flex">
													<span>{{'inventory.customer.trade-offer.buy'| translate}}</span>
													<input [readonly]="!edit(i, idx)" [ngClass]="isValidQty(f.controls[i].value.buy_qty)"
														formControlName="buy_qty" [value]="o.buy_qty" class="mx-2 ws-input" type="text"
														placeholder="QTY">
													<br [class]="ff">
													<span>{{'inventory.customer.trade-offer.free'| translate}}</span>
													<input [readonly]="!edit(i, idx)" [ngClass]="isValidQty(f.controls[i].value.free_qty)"
														formControlName="free_qty" [value]="o.free_qty" class="mx-2 ws-input" type="text"
														placeholder="QTY">
												</div>
											</div>
										</p-card>
									</div>
								</div>
							</div>
						</form>
						<p-card *ngIf="trd.promotions.length <= 1" class="d-flex ml-2 mt-1">
							<form [formGroup]='newPromoForm' #frm="ngForm">
								<div *ngIf="isNewPromo && idx === inx" class="mt-1">
									<div class="text-right">
										<span (click)="saveNewPromo(newPromoForm.value, trd, idx)" class="mdi mdi-check"
											ngClass="mr-1 md-icon"></span>
										<span (click)="deletePromo(trd, o)" class="mdi mdi-close" ngClass="ml-1 md-icon"></span>
									</div>
									<div class="promo-dates d-flex">
										<input [min]="dateNewFromLess(idx)| date:'yyyy-MM-dd'"
											[ngClass]="isValidDate(newPromoForm.value.from_date)" formControlName="from_date"
											class="mx-2 ws-input" type="date">
										<input [min]="dateNewToLess()| date:'yyyy-MM-dd'"
											[ngClass]="isValidDate(newPromoForm.value.to_date)" formControlName="to_date"
											class="mx-2 ws-input" type="date">
									</div>

									<div class="mt-1 d-flex">
										<span> {{'inventory.customer.trade-offer.buy'| translate}}</span>
										<input [ngClass]="isValidQty(newPromoForm.value.buy_qty)" formControlName="buy_qty"
											class="mx-2 ws-input" type="text" placeholder="QTY">
										<br>
										<span> {{'inventory.customer.trade-offer.free'| translate}}</span>
										<input [ngClass]="isValidQty(newPromoForm.value.free_qty)" formControlName="free_qty"
											class="mx-2 ws-input" type="text" placeholder="QTY">
									</div>
								</div>
								<div (click)="showNewPromo(idx)" *ngIf="!isNewPromo || idx !== inx" class="promo mt-1 text-center p-5">
									{{'inventory.customer.trade-offer.new-promotion'| translate}}
								</div>
							</form>
						</p-card>
					</div>
				</div>

			</div>
		</div>
	</div>


	<p-dialog [(visible)]="showDialog" [modal]="true" [responsive]="true" [style]="{width: '550px', minWidth: '500px'}"
		[minY]="70" [baseZIndex]="10000">
		<div style="width: 100%;">
			<p-autoComplete [size]='70' (onSelect)="onSelectSearchTerm($event)" [(ngModel)]="text" field="name"
				[suggestions]="searchLookUpList" (completeMethod)="search($event)"></p-autoComplete>
		</div>
		<div *ngFor="let o of lookupList; let i = index" [class]="selectList(i)">
			<div (click)="getProductLookUp(o, i)" class="list mt-1"
				style="color: black; border-bottom: 1px solid lightgray; cursor: pointer;">
				<img style="width:50px; height:50px" [src]="o.picture" alt="product-img">
				<span class="mx-3">{{o.name}}</span>
			</div>

		</div>
		<p-footer>
			<button [disabled]="this.selectedProduct.length == 0" type="button" pButton (click)="confirmLookUpDialog()"
				icon="pi pi-check" label="Yes"></button>
			<button type="button" pButton icon="pi pi-close" (click)="cancelLookUpDialog()" label="No"
				class="ui-button-secondary"></button>
		</p-footer>
	</p-dialog>

</div>
<br><br><br><br><br>
<br><br><br>
<p-sidebar class="bottom-sidebar" [showCloseIcon]="false" [modal]='false' [visible]="true" position="bottom">
	<div class="mt-3">
		<span *ngFor="let o of routerList" (click)="nextTo(o)">
			<span class="badge px-1 m-1" [ngClass]="{ 'ws-bg-secondary': o.route ==='trade-offer'}">
				<i [ngClass]="o.icon" class="ws-nav-icon" aria-hidden="true"></i>
				<br>
				<span>{{o.name}}</span>
			</span>
		</span>
	</div>
</p-sidebar>

<p-sidebar class="bottom-sidebar" [showCloseIcon]="false" [(visible)]="isShowFilter" position="bottom">
	<div class="ui-g d-flex flex-wrap">
		<div class="ui-md-10">
			<span *ngFor="let o of SORT_OPTIONS" (click)="onSort(o)">
				<span class="badge px-1 m-1" [ngClass]="{ 'ws-bg-secondary': isSortSelected(o) }">
					<i [ngClass]="o.icon" class="ws-nav-icon" aria-hidden="true"></i>
					<br>
					<span>{{o.name}}</span>
				</span>
			</span>
		</div>
		<div class="ui-md-1">
			<span (click)="FilterList()" class="badge px-1">
				<span class="mdi mdi-close-circle ws-nav-icon"></span>
				<p>{{'cancel'| translate}}</p>
			</span>
		</div>
		<div class="ui-md-1">
			<span (click)="clear()" style="font-size: 23px;" class="badge ws-outline-primary px-3 py-2 mt-1">
				{{ 'reset' |translate }}
			</span>
		</div>
	</div>
</p-sidebar>